@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%; /* Largeur de l'écran */
    background-image: linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(58,86,92,0.6) 100%), url('/gofm/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.title {
    color: white;
    font-family: "Vibur", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #00aeff,
            0 0 82px #008cff,
            0 0 92px #0080ff,
            0 0 102px #006fff,
            0 0 151px #0048ff;
}



#imgSong{
    max-width: 400px ;
    width: 60%;
    border-radius: 11px;
    -webkit-border-radius:15%;
    -moz-border-radius:15%;
    -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}

.”boxSound″{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomBoxSound{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.”btn_play”, .”btn_pause”{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #d4025d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.”btn_play”:hover .”btn_pause”:hover {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #d4025d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_play:hover {
    background-color: #d4025d;
}

.”btn_pause”{
    display: none;
}

.artisteSong{
    color: white;
}

.titleSong{
    color: white;
}

.boxChangeMusic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centerDiv{
    display: block;
    margin-top: 20vh;
}

#title{
    margin-left: 20px;
}

.logoRadio{
    margin-left: 20px;
    max-width:5%;
    border-radius: 24px ;
}

.header{
    top: 0;
    left: 0;
    background: #0d1531;
    padding: 10px;
    display: flex;
}

.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-btn-header{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.changeButton{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.div-btn{

}

.btn-header{
    margin-left: 10px;
    background: transparent;
    color: white;
    border: none;
    padding: 5px;
}

.btn-header:hover{
    border: 2px solid #cccccc;
    border-radius: 11px;
}

.title-header{
    margin-bottom: 0;
    margin-top: 3px;
}